@using Microsoft.SqlServer.Server
@model OnlineEducationalPlatformNEW.Models.Courses

@{
    ViewData["Title"] = "Details";
}
<style>
    .btn {
        transition: transform 0.2s, color 0.3s, filter 0.3s;
    }

        .btn:hover {
            color: #fff;
            filter: brightness(80%);
        }

        .btn:active {
            transform: perspective(170px) rotateX(35deg) translateY(2px);
        }
</style>
<h1 class="user-select-none">Details</h1>

<div class="user-select-none">
    <h4>Courses</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnerId)
        </dd> *@
    </dl>
</div>
<div>
    <button onclick="location.href='@Url.Action("Index")'" class="btn btn-secondary">Back to List</button>
</div>
