@model IEnumerable<OnlineEducationalPlatformNEW.Models.Courses>

@{
    ViewData["Title"] = "Index";
}

<style>
    .custom-button {
        transition: 0.4s;
        font-size: 18px;
    }

    .custom-button:hover {
        background: white;
        color: #007BFF;
        transition: 0.3s;
    }

    .custom-btn-edit {
        background-color: #007bff;
        color: #fff;
    }

    .custom-btn-delete {
        background-color: #dc3545;
        color: #fff;
    }

    .custom-btn-details {
        background-color: #17a2b8;
        color: #fff;
    }
    .custom-btn-edit,
    .custom-btn-delete,
    .custom-btn-details {
        transition: transform 0.2s, color 0.3s, filter 0.3s;
    }

    .custom-btn-edit:hover,
    .custom-btn-delete:hover,
    .custom-btn-details:hover {
        color: #fff;
        filter: brightness(80%);
    }

    .custom-btn-edit:active,
    .custom-btn-delete:active,
    .custom-btn-details:active {
        transform: perspective(170px) rotateX(35deg) translateY(2px);
    }



    </style>
<h1>Index</h1>
@if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
{
    <p>
        <button type="button" class="btn btn-lg btn-primary custom-button" onclick="location.href='@Url.Action("Create")'">Create New</button>              
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                <td style="cursor: pointer; user-select: none;" class="d-flex gap-2">
                    @if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
                    {
                        <button type="button" class="btn custom-btn-edit" onclick="location.href='@Url.Action("Edit", new { id = item.Id })'">Edit</button>

                        <button type="button" class="btn custom-btn-delete" onclick="location.href='@Url.Action("Delete", new { id = item.Id })'">Delete</button>
                    }
                    <button type="button" class="btn custom-btn-details" onclick="location.href='@Url.Action("Details", new { id = item.Id })'">Details</button>

            </td>
        </tr>
}
    </tbody>
</table>
